// section
.section {
	padding: 60px 0;
}

.section--gray {
	background-color: #F9F9F9;
}

.section--last {
	margin-bottom: 60px;
}

.section__title {
	margin-bottom: 40px;

	font-size: 3rem;
	color: $black;
	font-weight: 900;

	font-family: 'Lato', sans-serif;
	line-height: 1.2;

	span {
		color: $blue;
	}
}

.section--map {
	background: url("../images/clients-bg.svg") no-repeat left 30px center;
}