

<!-- footer -->
<footer class="footer">
	<div class="container">
		 	<a class="header__logo header__logo--black"  href="" data-scroll="#intro">
 				<img  src="assets/images/logo-b.svg" alt="">
 				<span class="header__logo-text">CenterLogistic</span>
 			</a>
		<address class="footer__contacts">
			<p>New York, Street, ZIP code</p>
			<p>Call Us: <a href="tel:+9948373123">+9948373123</a> or <a href="mailto:hello@centerlogistic.com"> E-mail: hello@centerlogistic.com</a></p>
		</address>

		<nav class="footer__nav">
			<a href="">Terms & Contidions</a>
			<a href="privacy.html">Privacy Policy</a>
			<a href="blog.html">Our blog</a>
		</nav>
	</div>
</footer>